<%- include('partials/header') %>

<section class="hero">
    <h1>Добро пожаловать на платформу портфолио!</h1>
    <p>Здесь вы можете создать, обновить и управлять своим портфолио. Присоединяйтесь!</p>
</section>

<%- include('partials/footer') %>
